<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417912655444-9007p52ft29pdm7aeh2l4iup9agg74kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417912655444-9007p52ft29pdm7aeh2l4iup9agg74kf</string>
	<key>API_KEY</key>
	<string>AIzaSyBhJqR8pM4p2TMsLgL6M0N3G5SyOmsGJj4</string>
	<key>GCM_SENDER_ID</key>
	<string>417912655444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-flatter</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flatter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417912655444:ios:ecd2fc654bc6f72f20a7c1</string>
</dict>
</plist>